/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --durability-text-color: #6a737d9c;
  --icon-color: #6a737d;
  --border-color: #ff9a0045;
  --text-decoration-color: #ff9a00;
  --hover-animation-duration: 400ms;
  --hover-animation-function: ease;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
}

.fh {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.fv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resume {
  margin: 3rem auto;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 7px 7px #f5f5f5;
  padding: 2rem 0;
  max-width: 56rem;
}

.resume__block {
  border-bottom: 3px solid var(--border-color);
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 36rem) {
  .experiences {
    margin-right: 0;
  }
}

/* Contact info styles */

.contact_info_container {
  font-style: normal;
}

.contact-info__header {
  color: var(--primary-text-color);
  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: underline;
}

.contact-info__sub-header {
  font-size: 1.17em;
  color: var(--secondary-text-color);
}

.contact-info__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.125rem;
}

.contact-info__block-item {
  list-style: none;
}

.contact-info__item {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  transition-property: color;
  transition-duration: var(--hover-animation-duration);
  transition-timing-function: var(--hover-animation-function);
}

.contact-info__item:hover,
.contact-info__item:focus {
  color: var(--text-decoration-color);
}

.contact-info__item:hover .contact-info__item-icon,
.contact-info__item:focus .contact-info__item-icon {
  fill: var(--text-decoration-color);
}

.contact-info__item-icon-wrapper {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info__item-icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: var(--hover-animation-duration);
  transition-timing-function: var(--hover-animation-function);
}

/* Intro and skills styles */

.intro {
  display: flex;
  justify-content: start;
}

.intro__icon-wrapper {
  margin-right: 2rem;
  width: 30px;
  display: flex;
  justify-content: center;
}

.intro__icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
  fill: var(--text-decoration-color);
}

.intro_text {
  color: var(--secondary-text-color);
  text-align: justify;
}

.skills__header {
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 15px;
}

.skills__badge {
  font-family: "Courier New", Courier, monospace;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  border: 1px solid var(--icon-color);
  border-radius: 0.25em;
  padding: 0.5em 1em;
  margin: 0.125rem 0;
  transition-property: color, border-color;
  transition-duration: var(--hover-animation-duration);
  transition-timing-function: var(--hover-animation-function);
}

.skills__badge:hover {
  color: var(--text-decoration-color);
  border-color: var(--text-decoration-color);
}

.skills__badge:hover .skills__icon {
  fill: var(--text-decoration-color);
}

.skills__icon {
  height: 20px;
  width: 20px;
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: var(--hover-animation-duration);
  transition-timing-function: var(--hover-animation-function);
}

/* Experience and additional info styles */

.experiences {
  flex: 1 1 60%;
  margin-right: 3rem;
}

.experiences__header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.experiences__company-header-name {
  color: var(--primary-text-color);
  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: underline;
  text-align: left;
  margin-bottom: 20px;
}

.experiences__company-project {
  margin-left: 15px;
  margin-bottom: 25px;
}

.experiences__company-project-role {
  color: var(--durability-text-color);
  text-align: left;
  font-size: 15px;
}

.experiences__company-project-name {
  color: var(--primary-text-color);
  text-align: left;
  margin-bottom: 10px;
}

.experiences__company-project-responsibilities {
  color: var(--secondary-text-color);
  padding-left: 20px;
}

.main-info {
  flex-wrap: nowrap;
}

@media screen and (max-width: 36rem) {
  .main-info {
    flex-direction: column;
  }
}

.additional-info {
  flex: 1 1 40%;
}

.additional-info__education {
  margin-bottom: 20px;
}

.additional-info__education-header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.additional-info__education-university-durability {
  color: var(--durability-text-color);
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.additional-info__education-university-speciality {
  color: var(--primary-text-color);
  text-align: left;
  margin-bottom: 10px;
}

.additional-info__education-university-name {
  color: var(--secondary-text-color);
}

.additional-info__languages {
  margin-bottom: 20px;
}

.additional-info__languages-header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.additional-info__languages-item {
  color: var(--secondary-text-color);
}
